doctype html
html
    head

        title Page d'accueil
        link(rel="stylesheet", href="/stylesheets/style.css")

    body
        header
            .header
                div
                    h1#title
                        a(href="/") Crea&Num

                div
                    a.nav(href="/") Accueil 
                    a.nav(href="/nosServices") Nos services 
                    a.nav(href="/contactezNous") Contactez-nous 


    section
        div
            h1.text Nos services en creation numerique
        
        .service
            .serv
                h1 Affiches publicitaire
                p Obtenez des visuels pour plus de visibilite en ligne et faire connaitre votre marque.
            
            .serv
                h1 Logo
                p Un logo qui reflete votre marque et vos services.
            
            .serv
                h1 Carte de visite
                p Pour un bon reseautage, des cartes de visite pour vous et tout vos employes fait sur mesure.
            
            .serv
                h1 Sites web
                p Rendez votre presence en ligne plus agreable avec un site web dynamique et attrayant.

    footer
            .elmfootServ
                h2.footer
                    a(href="/") Creation & Numerique
                p.devise Votre satisfaction, notre plaisir!