doctype html
html
    head

        title Page d'accueil
        link(rel="stylesheet", href="/stylesheets/style.css")

    body
        header
            .header
                div
                    h1#title
                        a(href="/") Crea&Num

                div
                    a.nav(href="/") Accueil 
                    a.nav(href="/nosServices") Nos services 
                    a.nav(href="/contactezNous") Contactez-nous 


    section
        h1.accueil Bienvenue, sur notre platforme de creation numerique !
    

    footer
        .elmfoot
            h2.footer
                a(href="/") Creation & Numerique
            p.devise Votre satisfaction, notre plaisir!
